.App {
  text-align: center;
}


.nav-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.nav-header h3{
  font-size: calc(10px + 2vmin);
  width: 30%;
}

.nav-links{
  width: 50%;
}

.nav-links a {
  color: #61dafb;
  text-decoration: none;
  margin-right: 16px;
  transition: all 500ms ease-in-out;
}

.nav-links a:hover {
  color: #03b0e0;
  border-bottom: 1px #03b0e0 solid;
 
}

ul{
list-style-type:none;
display: flex;
flex-direction: column;
align-items: flex-start;
width: 50%;
margin: 0 auto;
margin-top: 2rem;
}

.wrapper {
  max-width: 20rem;
  margin: 0 auto;
  padding: min(3rem, 5vw);
}

form {
  padding: 2rem;
  background-color: rgba(245, 245, 245);
  border-radius: 0.5rem;
}

input[type="text"]{
  width: 100%;
  height: 1.5em;
  border: 2px solid #03b0e0;
}

button[type="submit"]{
  border: 2px solid #03b0e0;
  margin-top: 1rem;
  padding: 4px 24px;
  background:transparent;
}

button[type="submit"]:hover{
  background: #03b0e0;
  color:#fff;
}

input[type="checkbox"]{
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.65rem;
  accent-color: #03b0e0;
}
